#jobs {
    display: block;
    /*margin-left: 10%;
    margin-right: 10%;*/
    font-family: Nunito;
    font-size: 24px;
    color: white;
}
#jobs h1 {
    margin: -0.15em auto 0.25em auto;
    font-size: 2.2em;
    display: block;
    width: intrinsic;           /* Safari/WebKit */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    text-shadow: -1px -1px 0 #211D1A, 1px -1px 0 #211D1A, -1px 1px 0 #211D1A, 1px 1px 0 #211D1A;
    color: whitesmoke;
}
#jobs h2 {
    text-align: center;
    padding: 25px 0;
    display: list-item;
    margin: 0;
    font-size: 24px;
    list-style-type: none;
}
.bRed {
    background: linear-gradient(to right, rgba(196,22,24,0) 0%, rgba(196, 22, 24, 0.5) 25%, rgba(196,22,24,0) 0%, rgba(196,22,24,0.5) 0%, rgba(196,22,24,0.5) 75%, rgba(196,22,24,0) 100%);
}
.noclick {
    pointer-events: none;
}
.nok {
    pointer-events: none;
}
.padB {
    padding-bottom: 0 !important;
}
#jobs h2:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(196,22,24,0) 0%, rgba(196, 22, 24, 0.5) 25%, rgba(196,22,24,0) 0%, rgba(196,22,24,0.5) 0%, rgba(196,22,24,0.5) 75%, rgba(196,22,24,0) 100%);
}
#jobs p {
    font-size: 18px;
    margin: 0 10%;
    padding: 1em 0;
}
#jobs div {
    display: none;
}

hr {
    margin: 0;
    height: 1px;
    border: 0;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#211D1A), to(#211D1A), color-stop(50%, white));
    background: -moz-linear-gradient(0deg, #211D1A, white, #211D1A) !important;

}

@media only screen and (max-width: 580px) {
    hr {
        width: 100%;
    }
}