html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    width: device-width;
	margin: 25px 0 0 0;
    font-family: 'Raleway', sans-serif;
    background-color: #211D1A;
}

body {
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
}

main {
    margin-left: 10% !important;
    margin-right: 10% !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

footer {
    padding: 45px 0 60px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

i {
    font-style: normal;
}

.active {
    font-weight: bold !important;
    letter-spacing: 0.5px !important;
}
.gok {
    display: none;
}

nav {
    font-family: Alternate;
    font-size: 24px;
    letter-spacing: -1px;
    /*margin-left: 10%;
    margin-right: 10%;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}
nav a {
    list-style-type: none;
    color: #f2cb54;
    display: inline;
    /*margin-left: 9%;*/
}
nav a:hover {
    border-bottom: 2px solid #cf2925;
}
nav a:first-child {
    margin-left: 0px !important;
}

header img[src*="assets/images/logo.jpg"] {
    display: block;
    padding-left: 9px;
    width: 600px;
}
header a {
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.triple:before {
    content: "\e92b";
}

.triple {
    background: transparent;
    border: none;
    font-family: icon;
    font-size: 2.25em;
    color: white !important;
    margin-left: auto;
    /*margin-top: -90px;*/
    margin-right: 13px;
    margin-bottom: 80px;
    /*display: block;*/
}

/*================= Icons ===================*/

footer .instagram:before {
    font-family: icomoon;
    font-size: 2em;
    font-style: normal;
    content: "\ea92";
}
footer .facebook:before {
    content: "\ea90";
    font-family: icomoon;
    font-size: 2em;
    font-style: normal;
}

/* Resturanger */

.places .instagram:before {
    content: "\f16d";
    font-family: fontawesome;
    font-size: 80px;
}
.places .facebook:before {
    content: "\f082";
    font-size: 80px;
}

.marker:before {
    content: "\f041";
}
.phone:before {
    content: "\f095";
}
.clock:before {
    content: "\f017";
}
.arrow:before {
    content: "\f105";
    font-family: fontawesome;
}
.arrowdown:before {
    content: "\f107";
}
.fork:before {
    font-family: fontawesome-light;
    content: "\f2e7";
}
.miniarrow {
    position: relative;
    top: 1px;
}
.miniarrowdown {
    position: relative;
    top: 1px;
}
.miniarrowdown:before {
    content: "\f0d7";
}
.miniarrow:before {
    display: none;
    padding-left: 10px;
    content: "\f0da";
}

/*================= Links ===================*/

#links > li:last-of-type, li:last-of-type {
    margin-right: 0;
}
#links li {
    display: inline-block;
    padding: 5px 0 0;
    margin-right: 12px;
}

#links > li a {
    color: #fff;
}
#links a {
    font-weight: 600;
    letter-spacing: 0.03em;
}

/*================= Social ==================*/

#social {
    margin-top: 40px;
}
#social li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
}
#social li a {
    background-color: #fff;
    border-radius: 100%;
    color: #211D1A;
    display: block;
    line-height: 50px;
    height: 3.5em;
    width: 3.5em;
}

/*================= Fonts ===================*/

@font-face {
    font-family: ownfont;
    src: url(../fonts/ownfont.ttf);
}
@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.ttf);
}
@font-face {
    font-family: icon;
    src: url(../fonts/icon.woff);
}
@font-face {
    font-family: fontawesome;
    src: url(../fonts/fontawesome.woff2);
}
@font-face {
    font-family: fontawesome-light;
    src: url(../fonts/Fontawesome\ Light.otf);
}
@font-face {
    font-family: Alternate;
    src: url(../fonts/AlternateGothic.ttf);
}
@font-face {
    font-family: futural;
    src: url(../fonts/FuturaLTPro-Book.ttf);
}
@font-face {
    font-family: got;
    src: url(../fonts/got.otf);
}
@font-face {
    font-family: ekmukta;
    src: url(../fonts/ekmukta.woff2);
    font-weight: 600;
}
@font-face {
    font-family: nunito;
    src: url(../fonts/nunito.woff2);
    font-weight: 600;
}

/*================= Media ===================*/

@media only screen and (max-width: 1200px) {
    body {
        display: block !important;
        width: 940px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    header img[src*="assets/images/logo.jpg"] {
        width: 500px;
        padding-left: 0px !important;
    }
    nav {
        width: 500px;
    }
    nav a {
        margin-left: 9%;
    }
    main {
        margin: 0 !important;
    }
}
@media only screen and (min-width: 1200px) {
    nav {
        width: 600px;
    }
    nav a {
        margin-left: 70px;
    }
}
@media only screen and (max-width: 960px) {
    body {
        display: block !important;
        width: 100% !important;
        margin-left: unset !important;
        margin-right: unset !important;
    }
}
@media only screen and (max-width: 500px) {
    header img {
        width: 100% !important;
    }
    nav {
        width: 100%;
        /*padding-left: 1% !important;
        padding-right: 1% !important*/
    }
    nav a {
        margin-left: 6%;
        font-size: 22px;
    }
}
@media only screen and (max-width: 800px) {
    nav a {
        margin-left: 8%;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

/*========  Non-Mobile First Method  =========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {}